@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        Singleton: @ViewBag.Singleton
    </p>
    <p>
        Scoped: @ViewBag.Scoped
    </p>
    <p>
        Transient: @ViewBag.Transient
    </p>
    <hr />
    <h3>Servisten gelenler</h3>
    <p>
        Singleton: @ViewBag.ServiceSingleton
    </p>
    <p>
        Scoped: @ViewBag.ServiceScoped
    </p>
    <p>
        Transient: @ViewBag.ServiceTransient
    </p>
</div>
